node_modules/
dist/
.env
*_ssh_info.txt
gameTest/

.gradle-user-home/
android/
public/*
!public/apk-debug.apk
!public/manifest.webmanifest
!public/sw.js
!public/icons/
capacitor.config.json
dev-server.err.log
dev-server.log
